GOOGLE_PLACES_API_KEY=
ANTHROPIC_API_KEY=your_anthropic_api_key_here
TICKETMASTER_API_KEY=your_ticketmaster_discovery_api_key_here
CENSUS_API_KEY=your_census_api_key_here
FOURSQUARE_API_KEY=your_foursquare_v3_api_key_here
TRIPADVISOR_API_KEY=your_real_tripadvisor_key_here
BLS_API_KEY=your_bls_key_here
USDA_NASS_API_KEY=your_usda_nass_key_here
FMCSA_API_KEY=your_fmcsa_webkey_here
HUD_API_KEY=your_huduser_token_here
PORT=3000
